* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-color: rgb(40, 37, 37);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding: 3rem;
}

.subContainer1 {
    background-color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.box1 {
    /* height: 150px;
    width: 160px; */
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer2 {
    background-color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.box2 {
    /* height: 150px;
    width: 160px; */
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    grid-column-start: 1;
    grid-column-end: 3;
}

.third {
    grid-row-start: 1;
    grid-row-end: 3;
}